body {
    background-color:rgb(40, 121, 8);
    margin: 0 auto;
    width: 950px;
    padding: 50px;
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items: center;
}

h1 {
    color: whitesmoke;
    letter-spacing: 25px;
    font-family:'Courier New', Courier, monospace;
    text-shadow:teal 4px 4px;
}

#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9,#box10,#box11,#box12 {
    width: 300px;
    height: 80px;
    margin: 20px;
    background-color: rgb(112, 164, 233);
    display: flex;
    font-size: 50px;
    padding: 10px;
}



#allbox,#allB,#allbox1 {
    display: flex;
    
}

#n0 {
    position: relative;
    height:50px;
    align-self:center;
    font-size: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border-radius: 25px;
    border: 3px solid blue;
}

#n1 {
    position: relative;
    height:50px;
    align-self:center;
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 181, 116);
    border-radius: 5px;
    border: 3px solid blue;
    padding-bottom: 10px;
}

#n2 {
   position: relative;
    height:50px;
    padding-top: 20px;
    align-self:center;
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(97, 191, 228);
    border-radius: 5px;
    border: 3px solid rgb(245, 66, 200); 
}

#n3 {
   position: relative;
    height:50px;
    align-self:center;
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 104, 28);
    border-radius: 5px;
    border: 3px solid rgb(38, 24, 235); 
}


table, td, th {
    border: solid white;
}

#equal, #equal1 {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 4px;
    margin: 2px;
    background-color: rgb(200, 241, 19);
}

#equal0 {
    position: relative;
    display: flex;
    align-self:center;
    flex-direction: column;
}