body {
    background-color:rgb(40, 121, 8);
    margin: 0 auto;
    width: 950px;
    padding: 50px;
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items: center;
}

h1 {
    color: whitesmoke;
    letter-spacing: 25px;
    font-family:'Courier New', Courier, monospace;
    text-shadow:teal 4px 4px;
}

#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9 {
    width: 50px;
    height: 80px;
    margin: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#allbox,#allB,#allbox1 {
    display:flex;
    
}

#n0 {
    position: relative;
    height:50px;
    align-self:center;
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    border-radius: 25px;
    border: 3px solid blue;
}

#n1 {
    position: relative;
    height:50px;
    align-self:center;
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 181, 116);
    border-radius: 5px;
    border: 3px solid blue;
}

#n2,#n3,#n4,#n5,#n6,#n7,#n8,#n9 {
    padding: 20px;
    margin: 3px;
    margin-top: 12px;
    color: white;
    background-color:teal;
    
}

table, td, th {
    border: solid white;
}