body {
    background-color:peru;
    margin: 0 auto;
    width: 950px;
    padding: 50px;
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items: center;
}

h1 {
    color: whitesmoke;
    letter-spacing: 25px;
    font-family:'Courier New', Courier, monospace;
    text-shadow:teal 4px 4px;
}

#box1,#box2,#box3 {
    width: 50px;
    height: 40px;
    margin: 10px;
    background-color: white;
  
    
}

#allbox {
    display:flex;
    
}

#n0,#n1,#n2,#n3,#n4,#n5,#n6,#n7,#n8,#n9 {
    padding: 20px;
    margin: 3px;
    margin-top: 12px;
    color: white;
    background-color:teal;
    
}